# Virtual Environment
.venv/
venv/
__pycache__/
*.pyc

# Local AI Models & Binary Weights (Too large for GitHub)
models/
*.onnx
*.bin

# Temporary Audio Recordings & Logs
audio_files/
*.wav
*.log

# VS Code & OS artifacts
.vscode/
.DS_Store
